/* Estilo de las tablas */
.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    opacity: 0.7;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: gray;
    transition-duration: 0.4s;
    color: white;
}

.table tbody tr::marker{
    background-color: gray;
    color: white;
}
/* cambios al llegar un tamaño determiado de la página */
@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 6px;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
    }
    .table th, .table td {
        font-size: 6px;
    }
    .table td {
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
}
